###  LIST

Create a list of numbers
> nums = [1,2,3,4]

In [3]:
nums=[1,2,3,4]
print(nums)
nums

[1, 2, 3, 4]

[1, 2, 3, 4]

In [ ]:
** 1. Remove number "3" in a list**

In [247]:
# Method 1 
nums =[1,2,3,4]
nums.remove(1)
print(nums)

[2, 3, 4]

** Remove last element in the list **
> hint: remove 4 (L.pop)

In [162]:
nums =[1,2,3,4]
nums.pop()

4

**Check nums.pop(0) ** 
> write you comment after executing this command

In [116]:
nums.pop(0)

2

 **Extent** list (3,4)
 > **hint: nums.extend([3,4])

In [1]:
nums(1,2)

NameError: name 'nums' is not defined

In [134]:
nums.extend([4])

In [98]:
nums

[2, 3, 4]

In [165]:
nums = [2,3]
nums.append(4)
nums

[2, 3, 4]

**Insert number "1" in 0th position**

In [109]:
nums

[2, 3, 4]

**Insert "two-and-half" in 2nd position**

In [110]:
nums.insert(2,'two-and-half')
nums

[2, 3, 'two-and-half', 4]

**2. Create a list with name plist with phrase = "Don't panic!"**

In [28]:
x =list("Don't panic!")
x

['D', 'o', 'n', "'", 't', ' ', 'p', 'a', 'n', 'i', 'c', '!']

Remove ** '** and ! in the list

In [ ]:
x.remove("'")

In [ ]:
x.remove("!")

In [191]:
x

['D', 'o', 'n', "'", 't', ' ', 'p', 'a', 'n', 'i', 'c']

**Remove "p" , "a", "n","D" and extend the list at the last**

In [44]:
x.remove("p")

In [ ]:
x.remove( "a")

In [ ]:
x.remove( "n")

In [ ]:
x.remove("d")

In [ ]:
x.extend("pand")

In [121]:
x

['D', 'o', 'n', "'", 't', ' ', 'p', 'a', 'n', 'i', 'c']

**Explain how ?**

**Joining List**

**Extract last 4 element in plist and append "a" and name as plist1**

- Extract list

In [136]:
plist=(x[6 :])

In [137]:
plist

['p', 'a', 'n', 'i', 'c']

- Join list

In [ ]:
plist.append('a')

In [138]:
plist

['p', 'a', 'n', 'i', 'c']

In [140]:
plist1=plist

In [141]:
plist1

['p', 'a', 'n', 'i', 'c']

###  Tuples

Create a tuples for numbers 31,24,35,85 as nums

In [2]:
t1 = (31,24)
t2 = (35,85)
t3 = t1 + t2

In [213]:
t3

(31, 24, 35, 85)

** Remove number "35" in a tuple**

*Hint:* Convert into list

In [3]:
t4 = list(t3)
t4.remove(35)
#t4 = tuple(t4)
t4

[31, 24, 85]

In [224]:
t5 = (85,19)

In [3]:
t6 =t4+t5
t6

NameError: name 't4' is not defined

### If the following string is given as input to the program:

- '5 2 3 6 6 5'

#### FInd the secong higest value from that

In [6]:
t10 = [5, 2, 3, 6, 6, 5]

In [248]:
t10

[5, 2, 3, 6, 6, 5]

In [241]:
### By using list comprehension, please write a program to print the list after removing the 0th,4th,5th numbers in [12,24,35,70,88,120,155].

In [3]:
# CODE HERE

[24, 35, 70, 155]

### With a given tuple (1,2,3,4,5,6,7,8,9,10), write a program to print the first half values in one line and the last half values in one line.

In [8]:
tuples=(1,2,3,4,5,6,7,8,9,10)
t1=(1,2,3,4,5)
t2=(6,7,8,9,10)
print(t1)
print(t2)

(1, 2, 3, 4, 5)
(6, 7, 8, 9, 10)

### Write a program to generate and print another tuple whose values are even numbers in the given tuple (1,2,3,4,5,6,7,8,9,10)

In [9]:
t1=(1,2,3,4,5,6,7,8,9)
t1=list(t1)
for i in t1:
    if i%2==0:
        print(i)

2
4
6
8

# [Innomatics Research Labs](https:/innomatics.in/)
[www.innomatics.in](https:/innomatics.in/)