###  Dictionary

Create Dictionary for following information as "person1":
   - Name = Srikanth
   - Gender= Male
   - Occupation = Data Scientist
   - Location  = Nizampet, Hyderabad

In [72]:
# CODE HERE
person1 = {'Gender':'Male','Location':'Nizampet,Hyderabad','Name': 'Srikanth','Occupation': 'Data Scientist'}
print (person1)

{'Gender': 'Male', 'Location': 'Nizampet,Hyderabad', 'Name': 'Srikanth', 'Occupation': 'Data Scientist'}

In [2]:
person1

{'Gender': 'Male',
 'Location': 'Nizampet, Hyderabad',
 'Name': 'Srikanth',
 'Occupation': 'Data Scientist'}

> print keys in person1 as a list

In [36]:
# CODE HERE
person1

{'Gender': 'Male',
 'Location': 'Nizampet,Hyderabad',
 'Name': 'Srikanth',
 'Occupation': 'Data Scientist'}

In [15]:
#  CODE
person1.keys()

dict_keys(['Gender', 'Location', 'Name', 'Occupation'])

> Srikanth age is 27. Assign his age in person1 as key "Age"

In [18]:
person1['age'] = 27
person1

{'Gender': 'Male',
 'Location': 'Nizampet,Hyderabad',
 'Name': 'Srikanth',
 'Occupation': 'Data Scientist',
 'Age': 27,
 'age': 27}

In [20]:
person1

{'Gender': 'Male',
 'Location': 'Nizampet,Hyderabad',
 'Name': 'Srikanth',
 'Occupation': 'Data Scientist',
 'Age': 27,
 'age': 27}

> Remove Location in person1

In [58]:
del person1['Location']
person1

{'Gender': 'Male', 'Name': 'Srikanth', 'Occupation': 'Data Scientist'}

> Create dictionary of person2 with
- Name  = Raghu Ram
- Gender = Male
- Age  = 25
- Occupation = Data Scienctist

In [59]:
# CODE HERE
person2 = {'Age': 25,'Gender': 'Male','Name': 'Raghu Ram','Occupation': 'Data Scientist'}
person2

{'Age': 25,
 'Gender': 'Male',
 'Name': 'Raghu Ram',
 'Occupation': 'Data Scientist'}

In [8]:
person2

{'Age': 25,
 'Gender': 'Male',
 'Name': 'Raghu Ram',
 'Occupation': 'Data Scientist'}

> Append values on Person1 and Person2

In [70]:
print('='*20,'person1','='*20)
print(person1)
print('='*20,'person2','='*20)
print(person2)

==================== person1 ====================
{'Gender': 'Male', 'Location': 'Nizampet,Hyderabad', 'Name': 'Srikanth', 'Occupation': 'Data Scientist'}
==================== person2 ====================
{'Age': 25, 'Gender': 'Male', 'Name': 'Raghu Ram', 'Occupation': 'Data Scientist'}

In [61]:
# CODE HERE to append

# create a dictionary
#### remove the elements from that dictionary using different methods
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25,6:36,7:49}

In [71]:
elements = {1: 1, 2: 4, 3: 9, 4: 16, 5: 25,6:36,7:49}

In [75]:
elements.pop(3)

9

{0: 0, 1: 1, 3: 9, 5: 25, 7: 49, 9: 81}
### print the values from the above dictionary in descending order

In [81]:
# CODE HERE
values = {0: 0, 1: 1, 3: 9, 5: 25, 7: 49, 9: 81}
print(sorted(values.keys(), reverse= True))

[9, 7, 5, 3, 1, 0]

database = {'ram':1234,'raghu':5678,'kanav':1357}
## Tasks :-
### 1. if the username and password matches print hello username
### 2. if the username and password doesnot match, ask, you want me to add into the database
### 3. show the updated database list

NameError: name 'db' is not defined

### merge the below 3 dictionaries
dict1 = { 'a': 1, 'b': 2 }
dict2 = { 'b': 3, 'c': 4 }
dict3 = { 'c': 5, 'd': 6 }

In [83]:
dict1.update(dict2)
dict1.update(dict3)
dict1

{'a': 1, 'b': 3, 'c': 5, 'd': 6}

In [78]:

dict1 = { 'a': 1, 'b': 2 }
dict2 = { 'b': 3, 'c': 4 }
dict3 = { 'c': 5, 'd': 6 }

# [Innomatics Research Labs](https:/innomatics.in/)
[www.innomatics.in](https:/innomatics.in/)