In [ ]:
import pandas as pd
import numpy as np
data  = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

##### Write a Pandas program to create a dataframe by given dictionary and index as lables

##### 1. Write a Pandas program to select the rows where the score is missing, i.e. is NaN

In [ ]:
### code here

##### 2. Write a Pandas program to change the score in row 'd' to 11.5.

In [ ]:
### code here

##### 3. Write a Pandas program to select the 'name' and 'score' columns from the following DataFrame.

In [ ]:
#### code here

##### 4.  Write a Pandas program to calculate the mean score for each different student in DataFrame.

In [ ]:
###  code here

##### 5. Write a Pandas program to append a new row 'k' to data frame with any value for each column. Now delete the row 'c' and return the original DataFrame.

In [ ]:
### code here

###### import the titanic dataset

##### 1. Write a Pandas program to create a Pivot table and find the total fare amount class wise, gender wise.

In [ ]:
#### code here

##### 2. Write a Pandas program to create a Pivot table and find survival rate by gender.

In [ ]:
### code here

###### 3. Write a Pandas to create to find the total count no of people survived pclass wise, class wise and gender wise.

In [ ]:
### code here

###### 4. Write a Pandas program to create a Pivot table and calculate how many women and men were in a particular cabin class.

In [ ]:
###  code here

##### 5. Write a Pandas program to count the number of missing values in each column.

In [ ]:
#### code here

##### 6. Write a Pandas program to replace null values with the value from the previous row or the next row in a given DataFrame.

In [ ]:
### code here

###### 7. Write a Pandas program to replace nulls, with median or mean of the specified columns in a given DataFrame.

In [ ]:
### code here

###### 8. Write a Pandas program to select first 2 rows, 2 columns and specific two columns from the dataframe.

In [ ]:
#### code here

###### 9. Write a Pandas program to remove the duplicates from 'embark_town' column of titanic dataset.

In [ ]:
#### code here

###### 10. Write a Pandas program to find out the survived is 1 details by the 'Southampton' in who is the 'child' from dataset.

In [ ]:
### code here

###### 11. Write a Pandas program to filter all records starting from the 2nd row, access every 5th row from the dataframe.

In [ ]:
### code here

###### 12. Write a Pandas program to filter those records where embarked matches with multiple values (C, Q) from the dataset.

In [ ]:
#### code here