##### import the Diamond dataset

###### 1. Write a Pandas program to find the number of rows and columns and data type of each column of diamonds Dataframe.

In [ ]:
### code here

##### 2. Write a Pandas program to summarize only 'object' columns of the diamonds Dataframe.

In [ ]:
### code here

###### 3. Write a Pandas program to remove the second column of the diamonds Dataframe. (don't use original dataset)

In [ ]:
### code here

###### 4. Write a Pandas program to remove multiple rows at once (axis=0 refers to rows) from diamonds dataframe. (dont use original dataset)

In [ ]:
### code here

###### 5. Write a Pandas program to sort the 'cut' Series in ascending order (returns a Series) of diamonds Dataframe.

In [ ]:
### code here

###### 6. Write a Pandas program to sort the entire diamonds DataFrame by the 'carat' Series in ascending and descending order.

In [ ]:
### code here

###### 7. Write a Pandas program to filter the DataFrame rows to only show carat weight at least 0.3.

In [ ]:
#### code here

###### 8.  Write a Pandas program to find the details of the diamonds where length>5, width>5 and depth>5.

In [ ]:
### code here

###### 9. Write a Pandas program to calculate the mean of each row of diamonds DataFrame.

In [ ]:
### code here

###### 10. Write a Pandas program to calculate the mean of price for each cut  and find maximum top 3 of diamonds DataFrame.

In [ ]:
#### code here

##### 11. Write a Pandas program to calculate count, minimum, maximum price for each cut of diamonds DataFrame.

In [ ]:
### code here

###### 12. Write a Pandas program to display and count the unique values in cut series of diamonds DataFrame.

In [ ]:
### code here

######13.  Write a Pandas program to count the number of missing values in each Series of diamonds DataFrame.

In [ ]:
### code here

###### 14. Write a Pandas program to calculate the multiply of x, y and z for each cut of diamonds DataFrame.

In [ ]:
### code here

##### 15. Write a Pandas program to read rows 0 through 2 (inclusive), columns ‘color’ and ‘price’ of diamonds DataFrame.

In [ ]:
## code here

###### 16. Write a Pandas program to read rows in positions 0 and 1, columns in positions 0 and 3 of diamonds DataFrame.

In [ ]:
### code here

##### 17. Write a Pandas program to get randomly sample rows from diamonds DataFrame.

In [ ]:
### code here

###### 18. Write a Pandas program to get sample 75% of the diamonds DataFrame's rows without replacement and store the remaining 25% of the rows in another DataFrame.

In [ ]:
### code here

###### 19. Write a Pandas program to read the diamonds DataFrame and detect duplicate color.

In [ ]:
#### code here

###### 20. Write a Pandas program to count the duplicate rows of diamonds DataFrame.

In [ ]:
#### code here